body{
	margin: 0;
	padding: 0;
}

.container{
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.side_menu{
	background-color: #b0ffff;
	padding: 1vw;
}

.file_upload{
	width: 100%;
}